:root {
    --card-height: 50px;
    --card-width: 200px;
}

body {
    margin: 0;
}

#board {
    background-image: url(/static/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#game > div {
    text-align: center;
    padding: 5px;
}

#home {
    text-align: center;
    padding: 5px;
}

table {
    border: 2px solid;
    margin: 10px;
    margin-inline: auto;
}

th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

#red {
    --team-color: 0 100% 50%;
    --top-offset: 20%;
    --bottom-offset: 10%;
    flex-grow: 10;
    border-bottom: 1px dashed black;
}

#blue {
    --team-color: 220 100% 50%;
    --top-offset: 10%;
    --bottom-offset: 20%;
    flex-grow: 10;
    border-top: 1px dashed black;
}

.core {
    position: relative;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

#border {
    flex: 2;
}

.triangle {
    height: 100%;
    flex: 1 1 100%;
}

.card {
    position: absolute;
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:nth-of-type(1) {
    top: 10%;
    left: var(--top-offset);
}

.card:nth-of-type(2) {
    top: 10%;
    right: var(--top-offset);
}

.card:nth-of-type(3) {
    top: calc(50% - var(--card-height) / 2);
    left: calc(50% - var(--card-width) / 2);
}

.card:nth-of-type(4) {
    bottom: 10%;
    left: var(--bottom-offset);
}

#red .card:nth-of-type(4) {
    bottom: 20%;
}

#red .card:nth-of-type(5) {
    bottom: 20%;
}

.card:nth-of-type(5) {
    bottom: 10%;
    right: var(--bottom-offset);
}

.card div {
    background: darkgray;
}

.entity-display {
}

.entity-display img {
    height: 50px;
}

.entity-stats {
    bottom: 0;
}

.entity-resources, .entity-vitality {
    width: 50%;
    box-sizing: border-box;
}

.entity-resources {
    float: left;
    box-sizing: border-box;
    border: 2px solid yellow;
}

.entity-vitality {
    float: right;
    box-sizing: border-box;
    border: 2px solid blue;
}

.entity-actions {
    position: absolute;
    display: none;
    border: 2px solid black;
    width: var(--card-width);
}

.card:hover .entity-actions {
    display: block;
}

#blue .entity-actions {
    bottom: 100%;
}

#red .entity-actions {
    transform: translate(0, 25px);
}

.action-hide {
    display: none;
}

.transfer-target {
    border: 2px solid lightgreen;
}

.attack-target {
    border: 2px solid red;
}

.month {
    position: absolute;
    right: 30px;
    top: 70px;
    background: lightgray;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.finish-turn-btn {
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 2rem;
    padding-inline: 10px;
}

.navbar > ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.navbar > ul > li {
    display: inline;
    padding: 5px;
}

h1 {
    text-align: center;
}

div.registration {
    display: block;
    text-align: center;
    form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    input {
        display: block;
    }
}

.flashes {
    list-style: none;
    text-align: center;
}

.error {
    --flash-color: red;
}

.warning {
    --flash-color: yellow;
}

.info {
    --flash-color: green;
}

ul.flashes {
    padding: 0px;
}

.flashes > li {
    color: var(--flash-color, red);
}
