:root {
    --card-height: 80px;
    --card-width: 250px;
    --light-background: #d3d3d3;
    --dark-background: #b5b5b5;
    --red-team-color: hsl(0 100% 50%);
    --blue-team-color: hsl(220 100% 50%);
}

body {
    margin: 0;
}

#board {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#background-image {
    position: absolute;
    z-index: -10;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#game > .teams {
    display: flex;
    flex: 1;
    gap: 15px;
}

fieldset.team-composition {
    flex: 1;
    width: fit-content;
    margin: auto;
}

.game-description {
    flex: 1;
}

input.create-game-btn {
    flex: 1;
}

.entity-player-picker > label {
    text-align: left;
}

.entity-player-picker > select {
    text-align: right;
}

option.hidden-option {
    display: none;
}

#home {
    text-align: center;
    padding: 5px;
}

table {
    border: 2px solid;
    margin: 10px;
    margin-inline: auto;
}

th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

#red {
    --top-offset: 20%;
    --bottom-offset: 10%;
    flex-grow: 10;
    border-bottom: 1px dashed black;
}

#blue {
    --top-offset: 10%;
    --bottom-offset: 20%;
    flex-grow: 10;
    border-top: 1px dashed black;
}

.core {
    position: relative;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

#border {
    flex: 2;
}

.triangle {
    height: 100%;
    flex: 1 1 100%;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--card-width);
    border: 2px solid black;
}

.card:nth-of-type(1) {
    top: 10%;
    left: var(--top-offset);
}

.card:nth-of-type(2) {
    top: 10%;
    right: var(--top-offset);
}

.card:nth-of-type(3) {
    top: calc(50% - var(--card-height) / 2);
    left: calc(50% - var(--card-width) / 2);
}

.card:nth-of-type(4) {
    bottom: 10%;
    left: var(--bottom-offset);
}

#red .card:nth-of-type(4) {
    bottom: 20%;
}

#red .card:nth-of-type(5) {
    bottom: 20%;
}

.card:nth-of-type(5) {
    bottom: 10%;
    right: var(--bottom-offset);
}

.card div {
    background: var(--dark-background);
}

.entity-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.entity-top {
    display: flex;
    flex: 1;
}

.entity-display img {
    flex: 1;
    height: 50px;
}

.entity-controller {
    flex: 1;
    padding: 5px;
}

.entity-vp {
    flex: 1;
    padding: 5px;
}

.help {
    padding: 5px;
    cursor: help;
}

.help-text {
    display: none;
    cursor: default;
}

.help:focus-within > .help-text {
    display: block;
    width: 600px;
    max-height: 70vh;
    overflow: scroll;
    text-align: left;
    position: absolute;
    z-index: 2000;
    background: var(--light-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid black;
    padding: 5px;
    transform: translate(var(--help-horizontal-offset, -50%), var(--help-vertical-offset, 0%));
}

#blue .help:focus-within > .help-text {
    --help-vertical-offset: -100%;
}

#energy .help:focus-within > .help-text,
#ros .help:focus-within > .help-text {
    --help-horizontal-offset: -75%;
}

.entity-name {
    flex: 1;
}

.entity-stats {
    display: flex;
    flex: 1;
}

.entity-resources, .entity-vitality {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.entity-resources {
    border: 2px inset yellow;
}

.entity-vitality {
    border: 2px inset blue;
}

.entity-actions {
    position: absolute;
    display: none;
    border: 2px solid black;
    width: var(--card-width);
    z-index: 100;
}

.card.active {
    box-shadow: 0px 0px 2px 2px lightgreen;
    cursor: pointer;
}

.card.inactive {
    cursor: not-allowed;
}

.card.active:hover:not(:focus-within) {
    box-shadow: 0px 0px 5px 5px lightgreen;
}

.card.active:focus-within .entity-actions {
    display: block;
}

#blue .entity-actions {
    bottom: 100%;
}

#red .entity-actions {
    transform: translate(0, calc(var(--card-height) + 27px));
}

svg.arrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

svg.connection-arrow line {
    stroke: black;
    stroke-width: 1.25px;
    stroke-dasharray: 8;
    marker-end: url(#black-arrow);
}

svg.attack-arrow line {
    stroke: red;
    stroke-width: 2px;
    marker-end: url(#red-arrow);
}

.action-hide {
    display: none;
}

.transfer-target {
    border: 2px solid lightgreen;
}

.attack-target {
    border: 2px solid red;
}

#round-timer {
    position: absolute;
    background: var(--light-background);
    padding: 5px;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 5px;
    font-size: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.time-green {
    --highlight-color: green;
}

.time-yellow {
    --highlight-color: yellow;
}

.time-red {
    --highlight-color: red;
}

#open-assets {
    position: absolute;
    left: 30px;
    padding: 5px;
    z-index: 1000;
}

#assets, #black-market {
    margin-top: 5%;
    height: 60%;
    width: 60%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    z-index: 10000;
}

.asset-container, .bm-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#close-assets, #submit-bm, #clear-bm {
    position: absolute;
    bottom: 15px;
    flex: 1;
}

#clear-bm {
    left: 80px;
}

.asset {
    display: flex;
    flex: 1;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
    flex-direction: column;
}

.bidding {
    display: flex;
    flex: 1;
    background: revert !important;
}

.bidding > label {
    padding-right: 10px;
}

.bidding > input {
    width: 50%;
}

.bm-bid {
    flex: 1;
}

.asset > div {
    flex: 1;
    background: var(--light-background);
}

.asset > div:nth-child(even) {
    background: var(--dark-background);
}

.activated-asset {
    color: darkgray;
}

.game-info > div {
    position: absolute;
    right: 30px;
    background: var(--light-background);
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.month {
    top: 70px;
    color: var(--current-team-color);
}

.month.red {
    --current-team-color: var(--red-team-color);
}

.month.blue {
    --current-team-color: var(--blue-team-color);
}

.team-vps {
    top: 110px;
}

#toggle-pause-button {
    position: absolute;
    left: 100px;
    padding: 5px;
    width: 50px;
    z-index: 1000;
}

.finish-turn-btn {
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 2rem;
    padding-inline: 10px;
}

#close-end-screen {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar * {
    position: relative;
    z-index: 1000;
}

.navbar > ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.navbar > ul > li {
    display: inline;
    padding: 5px;
}

p.username {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #464646;
}

h1 {
    text-align: center;
}

div.registration {
    text-align: center;
}

form.registration {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.registration div {
    display: grid;
    flex: 1;
    align-self: center;
    gap: 5px;
}

.registration label, .registration button {
    margin-top: 15px;
}

.flashes {
    list-style: none;
    text-align: center;
}

.error {
    --flash-color: red;
}

.warning {
    --flash-color: yellow;
}

.info {
    --flash-color: green;
}

.validation {
    --flash-color: red;
}

ul.flashes {
    padding: 0px;
}

.flashes > li {
    color: var(--flash-color, red);
}

#message-log {
    position: absolute;
    bottom: -50px;
    height: 25%;
    width: 15%;
    background-color: var(--light-background);
    padding: 5px;
    border: 2px solid;
    overflow: scroll;
}

#message-log ul {
    list-style: none;
    padding: 0;
}

#message-log li {
    border-bottom: 2px solid gray;
    font-size: 0.9rem;
    font-family: sans-serif;
}

#message-log .turn {
    border-bottom: 2px solid black;
    font-weight: 500;
}
#message-log .important {
    font-weight: 500;
}

#message-log .event {
    color: midnightblue;
}

#message-log .victory-point {
    color: darkgreen;
    font-weight: 500;
}

#message-log li:nth-child(even) {
    background: var(--dark-background);
}
