<!DOCTYPE html>
<html>
    <head>
        <meta name="color-scheme" content="light">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Wargame</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(category_filter=['error', 'warning', 'info'], with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block navbar %}
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('game.home') }}" class="navbar-item">Home</a></li>
                <li><a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a></li>
            </ul>
            <p class="username">{{ current_user.username }}</p>
        </div>
        {% endblock %}
        {% block content %}
        <div class="content">
            {{ message }}
        </div>
        {% endblock %}
    </body>
</html>
