{% extends "base.html" %}

{% block content %}
<script>
    const addClassToTargetOnHover = (selector, className) => {
        const selected = document.querySelectorAll(selector);
        selected.forEach(source => {
            const target = document.querySelector('#' + source.attributes.target.value);
            source.addEventListener('mouseenter', () => {
                target.classList.add(className);
            });
            source.addEventListener('mouseleave', () => {
                target.classList.remove(className);
            });
        });
    };

    const makeOnlySelectedOptionVisible = () => {
        const actionRadios = document.querySelectorAll('.entity-actions input[type="radio"]');
        actionRadios.forEach(radio => {
            const controlledInput = document.querySelector('.' + radio.id);
            const entityId = radio.parentNode.parentNode.parentNode.parentNode.id;
            const allHiddenInputs = Array.from(document.querySelectorAll(`#${entityId} .action-hide`));

            radio.addEventListener('change', () => {
                allHiddenInputs.forEach(input => input.classList.add('action-hide'));
                if (controlledInput) controlledInput.classList.remove('action-hide');
            });
        });
    };

    window.onload = () => {
        addClassToTargetOnHover('.attack', 'attack-target');
        addClassToTargetOnHover('.transfer', 'transfer-target');
        makeOnlySelectedOptionVisible();
    };
</script>
<div>
    {% with messages = get_flashed_messages(category_filter=['validation'], with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<form id="board" method="post" action="board">
    <div class="month">{{ turn_to_month(context.turn) }}</div>
    <input type="hidden" id="turn" name="turn" value="{{ context.turn }}">
    {% for team in context.teams %}
    <div id="{{ team }}">
        <div class="core">
            <div class="triangle">
                {% for entity in context.teams[team].entities %}
                <div class="card" id={{ entity.id }}>
                    {% with context = entity %}
                        {% include 'entity.html' %}
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Finish turn" class="finish-turn-btn">
</form>
{% endblock %}
