{% extends "base.html" %}

{% block content %}
<script>
    const addClassToTargetOnHover = (selector, className) => {
        console.log(selector);
        const selected = document.querySelectorAll(selector);
        console.log(selected);
        selected.forEach(a => {
            const target = document.querySelector('#' + a.attributes.target.value);
            console.log(a);
            a.addEventListener('mouseenter', () => {
                console.log('triggered');
                target.classList.add(className);
            });
            a.addEventListener('mouseleave', () => {
                target.classList.remove(className);
            });
        });
    };

    window.onload = () => {
        addClassToTargetOnHover('.attack', 'attack-target');
        addClassToTargetOnHover('.transfer', 'transfer-target');
    };

</script>
<form id="board" method="post" action="board">
    <div class="month">{{ context.month }}</div>
    {% for team in context.teams %}
    <div id="{{ team }}">
        <div class="core">
            <div class="triangle">
                {% for entity in context.teams[team].entities %}
                <div class="card" id={{ entity.id }}>
                    {% with %}
                        {% set context = entity %}
                        {% include 'entity.html' %}
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Finish turn" class="finish-turn-btn"">
</form>
{% endblock %}
