<div class="entity-display">
    <span class="entity-vp">VP: {{ entity.victory_points }}</span>
    <img src="{{ entity.image }}">
    <span class="entity-name">{{ entity.name }}</span>
</div>
<div class="entity-stats">
    <div class="entity-resources">
        Resource - {{ entity.resource }}
    </div>
    <div class="entity-vitality">
        Vitality - {{ entity.vitality }}
    </div>
</div>
<div class="entity-actions {{ 'active' if current_team(context.board_state['turn']) == team and current_user == context[team + '_player']}}">
    <fieldset>
        <legend>Actions</legend>
        {% if entity.connections %}
        <div>
            <input type="radio" id="{{ entity.id }}__transfer" name="{{ entity.id }}__action" value="transfer" autocomplete="off">
            <label for="{{ entity.id }}__transfer">Transfer</label>
        </div>
        {% endif %}
        {% if entity.attacks %}
        <div>
            <input type="radio" id="{{ entity.id }}__attack" name="{{ entity.id }}__action" value="attack" autocomplete="off">
            <label for="{{ entity.id }}__attack">Attack</label>
        </div>
        {% endif %}
        <div>
            <input type="radio" id="{{ entity.id }}__revitalize" name="{{ entity.id }}__action" value="revitalize" autocomplete="off">
            <label for="{{ entity.id }}__revitalize">Revitalize</label>
        </div>
        <div>
            <input type="radio" id="{{ entity.id }}__none" name="{{ entity.id }}__action" value="none" autocomplete="off" checked>
            <label for="{{ entity.id }}__none">None</label>
        </div>
        {% for target in entity.connections %}
        <div class="transfer {{ entity.id }}__transfer action-hide" target="{{ target }}">
            Transfer to {{ display_name(target) }}:
            <input class="{{ entity.id }}__transfer-input" type="number" data-value=0 placeholder=0 min=0 max={{ [entity.resource, 5] | min }} name="{{ entity.id }}-{{ target }}__transfer" autocomplete="off"></input>
        </div>
        {% endfor %}
        {% for target in entity.attacks %}
        <div class="attack {{ entity.id }}__attack action-hide" target="{{ target }}">
            Attack {{ display_name(target) }}:
            <input type="number" placeholder=0 min=0 max={{ [entity.resource, 6] | min }} name="{{ entity.id }}-{{ target }}__attack" autocomplete="off"></input>
        </div>
        {% endfor %}
        <div class="{{ entity.id }}__revitalize action-hide">
            Amount of vitality to recover. Cost: <span class="vitality-cost">0</span>
            <input type="number" placeholder=0 min=0 max={{ [calculate_max_revitalization(entity.resource), 6] | min }} class="revitalize-amount" name="{{ entity.id }}__revitalize" autocomplete="off"></input>
        </div>
    </fieldset>
</div>
