<div class="entity-display">
    <img src="{{ context.image }}">
    <span class="entity-name">{{ context.name }}</span>
</div>
<div class="entity-stats">
    <div class="entity-resources">
        Resource - {{ context.resource }}
    </div>
    <div class="entity-vitality">
        Vitality - {{ context.vitality }}
    </div>
</div>
<div class="entity-actions">
    <fieldset>
        <legend>Actions</legend>
        {% if entity.connections %}
        <div>
            <input type="radio" id="{{ entity.id }}-transfer" name="{{ entity.id }}-action" value="transfer">
            <label for="{{ entity.id }}-transfer">Transfer</label>
        </div>
        {% endif %}
        {% if entity.attacks %}
        <div>
            <input type="radio" id="{{ entity.id }}-attack" name="{{ entity.id }}-action" value="attack">
            <label for="{{ entity.id }}-attack">Attack</label>
        </div>
        {% endif %}
        <div>
            <input type="radio" id="{{ entity.id }}-revitalize" name="{{ entity.id }}-action" value="revitalize">
            <label for="{{ entity.id }}-revitalize">Revitalize</label>
        </div>
        <div>
            <input type="radio" id="{{ entity.id }}-none" name="{{ entity.id }}-action" value="none" checked>
            <label for="{{ entity.id }}-none">None</label>
        </div>
        {% for target in entity.connections %}
        <div class="{{ entity.id }}-transfer action-hide" target="{{ target }}">
            Transfer to {{ target }}:
            <input type="number" placeholder=0 min=0 max=5 name="{{ entity.id }}-{{ target }}-transfer"></input>
        </div>
        {% endfor %}
        {% for target in entity.attacks %}
        <div class="{{ entity.id }}-attack action-hide" target="{{ target }}">
            Attack {{ target }}:
            <input type="number" placeholder=0 min=0 max=5 name="{{ entity.id }}-{{ target }}-attack"></input>
        </div>
        {% endfor %}
        <div class="{{ entity.id }}-revitalize action-hide">
            Spend resources to increase Vitality
            <input type="number" placeholder=0 min=0 max=5 name="revitalize"></input>
        </div>
    </fieldset>
</div>
