<div class="entity-display">
    <img src="{{ context.image }}">
    <span class="entity-name">{{ context.name }}</span>
</div>
<div class="entity-stats">
    <div class="entity-resources">
        Resource - {{ context.resource }}
    </div>
    <div class="entity-vitality">
        Vitality - {{ context.vitality }}
    </div>
</div>
<div class="entity-connections">
    {% for target in entity.connections %}
    <div class="transfer" target="{{ target }}">
        Transfer to {{ target }}:
        <input type="number" placeholder=0 min=0 max=5 name="{{ entity.id }}-{{ target }}-transfer"></input>
    </div>
    {% endfor %}
    {% for target in entity.attacks %}
    <div class="attack" target="{{ target }}">
        Attack {{ target }}:
        <input type="number" placeholder=0 min=0 max=5 name="{{ entity.id }}-{{ target }}-attack"></input>
    </div>
    {% endfor %}
</div>
