{% extends "base.html" %}

{% block content %}

<script src="/static/js/new_game.js"></script>

<form id="game" method="post" action="new">
    <div class="teams">
    {% for team in teams %}
        <fieldset id="create-{{ team }}-team" class="team-composition">
            <legend>{{ team.capitalize() }} Team</legend>
            <label for="{{ team }}-team-name">Team name:</label>
            <input type="text" id="{{ team }}-team-name" name="{{ team }}-team-name" required>
                {% for entity_id in entity_ids_by_team[team] %}
            <div class="entity-player-picker">
                <label for="{{ entity_id }}">{{ display_name(entity_id) }} player:</label>
                <div>
                    <select name="{{ entity_id }}" id="{{ entity_id }}" required autocomplete="off">
                        <option class="hidden-option"></option>
                        {% for player in context.players %}
                        <option value="{{ player.id }}">{{ player.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
        </fieldset>
    {% endfor %}
    </div>
    <label class="game-description" for="description">Game description (optional):</label>
    <textarea class="game-description" id="description" name="description" cols=80 rows=10></textarea>
    <input type="submit" value="Create game" class="create-game-btn">
</form>

{% endblock %}
