{% extends "base.html" %}

{% block navbar %}
<div class="navbar">
    <ul>
        <li><a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h1>Registration form</h1>
<div class="registration">
    <form method="post" class="registration">
        <div>
            <label for="username">Username:</label>
            <input required type="text" name="username" placeholder="Username"></input>
        </div>
        <div>
            <label for="password">Password:</label>
            <input required type="password" name="password" placeholder="Password"></input>
        </div>
        <div>
            <label for="password">Repeat Password:</label>
            <input required type="password" name="password_repeat" placeholder="Password"></input>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}
