<h2>Energetic Bear</h2>

<p>
    The use of the Internet for industrial espionage has become part and parcel of
    offensive cyber operations, and Russia is no exception to this. Energetic Bear is the
    code name for one of the many espionage groups that seek to further Russian
    business prosperity at the expense of the UK’s.
    <br><br>
    You have one outgoing attack vector targeting UK PLC with which you can launch
    direct attacks.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Those who can’t, steal – grow your business by whatever means possible.
        <ul>
            <li>+1 Victory Point for having more <b>Vitality</b> at the end of April than the start of the game</li>
            <li>+3 Victory Points for having more <b>Vitality</b> at the end of August than April</li>
            <li>+5 Victory Points for having more <b>Vitality</b> at the end of December than August</li>
        </ul>
    </li>
</ol>
</p>
