<h2>Electorate</h2>

<p>
    The Electorate represents the people of the UK. According to the UK Cyber
    Security Strategy, the people are one of the key constituents (along with
    government and business) ensuring the UK’s prosperity and security in cyberspace.
    You are responsible for holding the Government accountable for their actions, as
    well as maintaining your current quality of life, which largely depends on keeping
    the UK’s critical infrastructure intact. You may therefore want to balance your
    demands of the Government with recognition that they have other priorities.
    <br><br>
    Although you have no outgoing attack vectors, you may be subject to direct attack
    from Russian Online trolls, seeking to undermine political, cultural, and social
    cohesion.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Resist the drain – avoid having your wealth taken away from you.
        <ul>
            <li>-1 Victory Point every time Resource is transferred away from Electorate</li>
        </ul>
    </li>
</ol>
</p>
