<h2>UK Energy</h2>

<p>
    UK Energy is one of Britain’s largest energy providers. It produces electricity from
    a range of sources, including coal, gas, solar, wind, and nuclear. In this last regard
    it plays a pivotal role as the sole operator of nuclear power plants in the UK, spread
    over seven locations, generating about one sixth of the UK’s electricity. You must
    ensure this critical function is maintained by not only keeping up the production of
    energy, but also keeping your main customer – the Electorate – a viable market by
    guaranteeing its electricity supply.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Grow capacity – increase the energy output of your power plants.
        <ul>
            <li>+2 Victory Points if you have 6 or more Vitality at the end of June</li>
            <li>+3 Victory Points if you have 9 or more Vitality at the end of December</li>
        </ul>
    </li>
</ol>
</p>
