<h2>GCHQ</h2>

<p>
    GCHQ represents the UK military and intelligence communities.
    You are supporting the UK’s offensive cyberspace operations.
    In this role, your primary aim is to ensure the UK’s superiority in cyber capabilities,
    while denying those capabilities to your adversaries.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Recruitment drive – swell your staff numbers by increasing Vitality every quarter (end of March, June, September and December).
        <ul>
            <li>+1 Victory Point for single quarters</li>
            <li>+3 Victory Points for any two consecutive quarters</li>
            <li>+5 Victory Points for three consecutive quarters</li>
            <li>+7 Victory Points for the entire year</li>
        </ul>
    </li>
</ol>
</p>
