<h2>UK PLC</h2>

<p>
    UK PLC represents UK businesses, which in the UK Cyber Security Strategy, along
    with government and people, form the key components of the UK’s prosperity and
    security in cyberspace. Your interest lies not only in growing your business, but
    also in supporting the military and intelligence apparatus with your products and
    expertise.
    <br><br>
    Although you have no outgoing attack vectors, you may come under direct attack
    from Energetic Bear conducting commercial espionage.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Weather the Brexit storm – build a cash flow buffer to deal with Brexit uncertainties.
        <ul>
            <li>+2 Victory Points for 3 or more Resource at the end of April</li>
            <li>+3 Victory Points for 6 or more Resource at the end of August</li>
            <li>+4 Victory Points for 9 or more Resource at the end of December</li>
        </ul>
    </li>
</ol>
</p>
