<h2>Rosenergoatom</h2>

<p>
    Rosenergoatom is Russia’s nuclear power stations operator. The organisation is
    responsible for running 10 nuclear power plants, a number which is planned to
    expand drastically. You must ensure this critical function is maintained, while also
    preparing for expansion.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Grow capacity – increase the energy output of your power plants by growing <b>Vitality</b> every quarter (end of March, June, September and December)
        <ul>
            <li>+1 Victory Point for single quarters</li>
            <li>+3 Victory Points for any two consecutive quarters</li>
            <li>+5 Victory Points for three consecutive quarters</li>
            <li>+7 Victory Points for the entire year</li>
        </ul>
    </li>
</ol>
</p>
