<h2>Russian Government</h2>

<p>
    The Government plays a central role in the exercise. It is the point to which all new
    resources flow at the beginning on each turn, and you are therefore responsible for
    doling these out to the other Entities on your team. The Government is also directly
    connected to all other Entities, so any damage you sustain will reverberate across
    your entire team. Likewise, any damage taken elsewhere will also impact you.
    <br><br>
    You have no outgoing attack vectors, but may be directly attacked by the UK
    Government if such a vector is open. This reflects a greater economic and
    diplomatic clout enjoyed by the UK.
</p>

<h3>Objectives</h3>

<p>
You have two main objectives:
<ol>
    <li>
        Some animals are more equal than others – keep a slice of your income for yourself.
        <br>
        <ul>
            <li>+1 Victory Point every month you end with 3 or more Resource</li>
        </ul>
    </li>
    <li>
        Control the Trolls – don’t let the trolls get overconfident.
        <ul>
            <li>-1 Victory Point every time Online Trolls launch a 3 or 4 Resource attack</li>
            <li>-2 Victory Points every time Online Trolls launch a 5 or 6 Resource attack</li>
        </ul>
    </li>
</ol>
</p>
