<h2>Special Communications Service (SCS)</h2>

<p>
    The SCS is responsible for signals intelligence, communications security, and
    cryptology. You are supporting Russia’s offensive cyberspace operations. In this
    role, your primary aim is to ensure Russia’s superiority in cyber capabilities, while
    denying those capabilities to your adversaries.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Win the arms race – have a better cyber arsenal than the UK.
        <br>
        <ul>
            <li>+2 Victory Points every month you end with more Attack assets than the UK’s defence assets</li>
        </ul>
    </li>
</ol>
</p>
