<h2>Online Trolls</h2>

<p>
    Russia is well-known for employing an army of online trolls to run honey pot
    social media accounts, propagate pro-Russian news, and make inflammatory
    comments on news stories and message boards. The role of the trolls is to
    undermine the UK people’s confidence in their government and shift negative
    attention away from Russia.
    <br><br>
    You have one outgoing attack vector targeting the UK Electorate through which
    you can mount direct attacks.
</p>

<h3>Objectives</h3>

<p>
You have one main objective:
<ol>
    <li>
        Success breeds confidence – small-scale harassment is beneath your capabilities.
        <br>
        <ul>
            <li>+4 Victory Points every time you launch an attack with 3 or more Resource and the Ransomware asset</li>
        </ul>
    </li>
</ol>
</p>
