<h2>UK Government</h2>

<p>
    The Government plays a central role in the exercise. It is the point to which all new
    resources flow at the beginning on each turn, and you are therefore responsible to
    doling these out to the other Entities on your team. The Government is also directly
    connected to all other Entities, so is any damage you sustain will reverberate across
    your entire team. Likewise, any damage taken elsewhere will also impact you.
    <br><br>
    You may have the possibility of opening one attack vector, targeting Russian
    Government. This reflects the UK’s stature in international organisations and its
    economic power, through a combination of which you can mount attacks that
    damage the vitality of the Russian Government. This would be a one-way vector,
    so you cannot be retaliated against in this way.
</p>

<h3>Objectives</h3>

<p>
You have two main objectives:
<ol>
    <li>
        Election time – buy popular support ahead of 2021 elections by making sure the people prosper.
        <ul>
            <li>+1 Victory Point for every month Electorate ends with 4 or more Resource</li>
        </ul>
    </li>
    <li>
        Aggressive outlook – drive home a strong anti-Russia rhetoric.
        <ul>
            <li>+5 Victory Points if Russian Government ends the game with less Vitality than it started (4)</li>
        </ul>
    </li>
</ol>
</p>
